

/* commons */

.ms-container {
    width:95%;
    margin:0 auto;
}
/* buttons */

.btn_web {
    color:white;
    border-radius: 2em;
}

.btn_dark {
    background-color: #363636;
}

.btn_red {
    background-color: #CC3C09;
}

.btn_blue {
    background-color:#2D64E6;
}

.btn_gray{
    background-color:#D9DADC;
    color:#386BE5;
}

/* HEADER */

header {
    height:50px;
    width:100%;
    background-color: black;
    display:flex;
    justify-content: end;
    position:fixed;
    z-index:999;
    top:0;
    left:0;
}
.logo-sony {
    width:100px;
    height:50px;
    line-height: 50px;
}

.logo-sony img {
    width:100%;
    padding:.5em;
}

/* MAIN */

/* navbar */

.nav_menu {
    padding-top: 3rem;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:999;
}

/* banner */

.banner {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width:100%;
    /* height:500px; */
    padding-top:200px;
    margin-top: 124px;
    display: flex;
    align-items: flex-end;
}

.banner h1, .banner p {
    color:white
}

.logo-returnal img {
    width:40%;
}

/* greed-1 */

.greed-1-item {
    padding-bottom:2em;
}

.greed-1-item img {
    border-radius:1em;
    width:100%;
}

/* playstation introduction */

.intro-title-wrap h5 {
    color:#167ED2;
    font-size:1em;
}

.intro-title-wrap p {
    color:#737373;
}

.intro-title-wrap h1 {
    margin-bottom:1em;
}

.console-intro .intro-title-wrap {
    margin-top:100px;
}

/* console-item */

.img-console img {
    width:100%;
}

.img-console-item img {
    width:100%;
    opacity:.5;
}

.img-console-item img:hover {
    opacity:1;
}

#play_thumb {
    border-bottom:2px solid blue;
    opacity:1;
}

/* banner 2 */

.banner-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

/* new-entry */
.new-entry {
    background-color: #1F1F1F;
    color:white;
    font-size: .8em;
}

.img-new-entry img {
    width:100%;
    border-radius:2em;
}

.img-new-entry p {
    margin-bottom:3em;
    font-size:1.5em;
}

/* explore */

.img-explore img {
    width:100%;
}

/* playstation plus */


.play-plus {
    background-color:#BEBCBB;
}

.play-plus-content {
    padding-bottom:1em;
}

.play-plus-content img {
    width:80%;
}

.play-plus-left img {
    width:100%;
}

/* discount */

.img-discount img {
    width:100%;
}

/* social media */

.social-media h1{
    text-align: center;
    margin-top:2em;
    margin-bottom:1em;
}

.social-media img {
    width:100%;
}

.row_social {
    display: flex;
    justify-content: center;
    padding-bottom:5em;
}

/* FOOTER */

footer {
    background-color: #2D64E6;
    color:white;
}

footer img{
    width:20%;
}

footer ul {
    list-style:none;
}

footer ul li a{
    text-decoration: none;
    color:white;
}
.language {
    width:1em;
}

.footer_btm img{
    width: 20%;
}
/* mediaquery */

@media screen and (min-width: 768px) {
    .console-item-row{
        display: flex;
        justify-content: space-around;
    }
}